# IntelliJ / WebStorm
.idea/
*.iml
workspace.xml
shelf/

# HTTP client requests del IDE
httpRequests/

# Datasource del IDE
dataSources/
dataSources.local.xml

# Archivos del sistema (opcionales pero útiles)
.DS_Store
Thumbs.db
